.product-page {
  font-family: Arial;
  background: #f5f5f5;
  min-height: 100vh;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131921;
  padding: 15px 40px;
}

.logo {
  color: #ff9900;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* Product Layout */

.product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr 350px;
  gap: 40px;
  padding: 40px;
}

/* Image */

.product-image img {
  width: 100%;
  border-radius: 10px;
  background: white;
  padding: 20px;
}

/* Info */

.product-info h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.rating {
  color: #ff9900;
  margin-bottom: 10px;
}

.price {
  font-size: 28px;
  font-weight: bold;
  color: #B12704;
}

.stock {
  color: green;
  margin-top: 10px;
}

.description {
  margin-top: 15px;
  line-height: 1.6;
}

.divider {
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

/* Purchase box */

.purchase-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  height: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.purchase-box h2 {
  color: #B12704;
}

.delivery {
  margin: 10px 0;
  color: green;
}

.cart-btn {
  width: 100%;
  padding: 12px;
  background: #ffd814;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-btn {
  width: 100%;
  padding: 12px;
  background: #ffa41c;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.loading {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}